footer.site-footer {
  background: #1e1e2a;
  color: #fff;
  text-transform: capitalize;

  .container > div {
    height: 100px;
  }
  .malam-logo {
    display: flex;
    align-items: flex-end;
    span {
      padding-left: 10px;
      transform: translateY(2px);
    }
  }
  .row {
    display: flex;
    align-items: center;
    &.space-between {
      justify-content: space-between;
    }
  }
}
